@model Section

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Раздел @Model.Name</title>
</head>
<body>
<h1>Разнообразный ассортимент!</h1>
<br />
<div class="section-parent">
    @if (Model.Products == null)
    {
        return;
    }
    @foreach (var product in Model.Products)
    {
        <div class="section-child">
            @if (product.Image != null)
            {
                <img class="section-img" src="data:image/png;base64,@(Convert.ToBase64String(product.Image.Data))"/>
            }
            <p class="card-text-new">
                @product.Name
            </p>
        </div>
    }

</div>
</body>
</html>