@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG-Medium.woff2') format('woff2'), url('../fonts/GraphikLCG-Medium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.woff2') format('woff2'), url('../fonts/Gilroy-Regular.woff') format('woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'), url('../fonts/Gilroy-ExtraBold.woff') format('woff');
    font-display: swap;
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.woff2') format('woff2'), url('../fonts/Gilroy-Medium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-content {
    background-color: #222020;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Gilroy', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.heading {
    color: white;
    font-family: ‘Graphik LCG’, sans-serif;
    margin-bottom: 30px;
}

.download-link {
    padding: 20px;
    color: white;
    background-color: #2f1ce4;
    border: 3px solid #2f1ce4;
    display: inline-block;
}

.details {
    padding: 20px;
    color: white;
    background-color: transparent;
    border: 3px solid white;
    display: inline-block;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.return-img {
    background-image: url(../img/return.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center left;
    padding: 30px;
    font-size: 18px;
}

.head-h1 {
    margin-top: 100px;
    padding-left: 100px;
    font-size: 48px;
    color: #222020;
}

.h2-style {
    margin-top: 100px;
    margin-left: 180px;
    margin-bottom: 25px;
    font-size: 36px;
    color: #2f1ce4;
}

.list {
    padding-left: 200px;
    font-size: 18px;
}

.paragraph {
    padding-left: 180px;
    padding-bottom: 20px;
}

.illustration {
    margin-top: 50px;
    margin-left: 200px;
    margin-bottom: 50px;
    display: inline-block;
    text-align: center;
    max-width: 400px;
}

.tags-table, .tags-table th, .tags-table td {
    margin-left: 180px;
    margin-top: 100px;
    border: 3px solid #a0a0a0;
    color: black;
    border-collapse: collapse;
    padding: unset;
}

.modules-container {
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
}

.skillbox {
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 40px;
}

.modules-content {
    margin-left: 80px;
    margin-right: 80px;
    width: 1020px;
}

.modules-h1 {
    font-size: 48px;
    color: #222020;
    padding-top: 100px;
    padding-left: 20px;
}

.card-list {
    margin-top: 85px;
    font-size: 0;
}

.child {
    display: inline-block;
    margin-right: 48px;
    margin-bottom: 55px;
    width: 480px;
    height: 500px;
    position: relative;
    box-shadow: 0px 3px 20px 0px rgba(83, 83, 83, 0.31);
}

.right {
    margin-right: 0;
}

.number {
    font-size: 48px;
    color: #eaeaea;
    right: 20px;
    bottom: 20px;
    position: absolute;
}

.card-image-01 {
    background-image: url(../img/electronics.jpg);
    background-repeat: no-repeat;
}

.card-image-02 {
    background-image: url(../img/household-chemicals.jpg);
    background-repeat: no-repeat;
}

.card-image-03 {
    background-image: url(../img/cosmetics.jpg);
    background-repeat: no-repeat;
}

.card-image-04 {
    background-image: url(../img/shoes.jpg);
    background-repeat: no-repeat;
}

.card-head-text {
    left: 50px;
    font-size: 36px;
    color: #2f1ce4;
    top: 200px;
    position: absolute;
}

.card-text {
    left: 50px;
    font-size: 16px;
    top: 265px;
    line-height: 30px;
    position: absolute;
}

.button-show-more {
    margin-top: 45px;
    margin-left: 370px;
    width: 280px;
    height: 80px;
    border: solid #2f1ce4 3px;
    background-color: transparent;
}

.button-show-more-text {
    color: #2f1ce4;
    font-size: 18px;
}

.wave {
    background-image: url(../img/wave.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
    padding-bottom: 620px;
}



.section-parent {
    display: flex;
    flex-wrap: wrap;
}

.section-child {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    height: 200px;
    width: 300px;
    border: 1px solid;
}