@using Microsoft.AspNetCore.Mvc.RazorPages
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <form action="~/Manage/GetDataFromSectionView" method="post">
        <label>Имя раздела</label> <br />
        <input type="text" name="name" value="" /> <br />
        <p><input type="submit" value="Добавить"/></p>
    </form>
</body>
</html>