<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <form action="~/Manage/RemoveSection" method="post">
        <label>Введите ID раздела</label> <br />
        <input type="number" name="id" value="" /> <br /> <br />
        <p><input type="submit" value="Удалить" /></p>
    </form>
</body>
</html>