@using OnlineStore.Controllers
@model Home
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Модули</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="wave">
    <div class="modules-container">
        <div class="modules-content">
            <h1 class="modules-h1">Интернет магазин</h1>
            <ul class="card-list">
                @for (int i = 1; i < @ShopHelper.GetSections().Count + 1; i++)
                {
                    <li class="@(i % 2 == 0 ? "right" : "") child card-image-0@(i)">
                        <div class="number">0@(i)</div>
                        <h2 class="card-head-text">
                            <a asp-action=GetView asp-route-id=@(i - 1) asp-controller="Sections">@Model.Sections[i - 1]</a>
                        </h2>
                        <p class="card-text">
                            @ShopHelper.GetSections()[i - 1].Description
                        </p>
                    </li>
                }
            </ul>

            <button class="button-show-more"><span class="button-show-more-text"> Показать еще</span></button>
        </div>

    </div>
</body>

</html>