<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <p>
        <a asp-controller="Manage" asp-action="AddSection">Добавить новый раздел</a>
    </p>
    <p>
        <a asp-controller="Manage" asp-action="RemoveSection">Удалить раздел</a>
    </p>

    <p>
        <a asp-controller="Manage" asp-action="AddProduct">Добавить нового товара</a>
    </p>
    <p>
        <a asp-controller="Manage" asp-action="RemoveProduct">Удалить товара</a>
    </p>
</body>
</html>